<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link &lt;link rel="shortcut icon" href="~/img/icono/icono_01.png" type="image/png" /&gt;/>
    @*<link 1&lt;link rel="icon" href="~/img/icono/icono.png" type="image/png" /&gt;>*@

    <script src="~/Efectos/CreativeLinkEffects/js/modernizr.custom.js"></script>
    <link href="~/Efectos/CreativeLinkEffects/css/component.css" rel="stylesheet" />
    <link href="~/Efectos/CreativeLinkEffects/css/demo.css" rel="stylesheet" />
    <link href="~/Efectos/CreativeLinkEffects/css/normalize.css" rel="stylesheet" />


    <title>SDS | Software Development Service</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
    <link href="favicon.ico" rel="shortcut icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
    <!--Font Awesome link-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- Bootstrap CSS File -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/animate-css/animate.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->

    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/util.css" rel="stylesheet" />


    <script>

        function rootUrl(url) {
            var _rootUrl = '@Url.Content("~")';
            var x = url;
            if (url.indexOf(_rootUrl) != 0) {
                x = _rootUrl + "/" + url;
                x = x.replace(/\/\//g, "/").replace(/\/\//g, "/");
            }
            return x;
        };

        function valida(e) {
            tecla = (document.all) ? e.keyCode : e.which;

            //Tecla de retroceso para borrar, siempre la permite
            if (tecla == 8) {
                return true;
            }

            // Patron de entrada, en este caso solo acepta numeros
            patron = /[0-9]/;
            tecla_final = String.fromCharCode(tecla);
            return patron.test(tecla_final);
        }

        function formatCurrency(num)
        {
            num = num.toString().replace(/ |,/g,'');
            num = num.toString().replace('$','');
            if(isNaN(num))
                num = "0";
            cents = Math.floor((num*100+0.5)%100);
            num = Math.floor((num*100+0.5)/100).toString();
            if(cents < 10)
                cents = "0" + cents;
            for (var i = 0; i < Math.floor((num.length-(1+i))/3); i++)
                num = num.substring(0,num.length-(4*i+3))+','+num.substring(num.length-(4*i+3));
            return ('$' + num + '.' + cents);
        }


    </script>
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <!--<a href="#hero"><img id="menu-icon" src="img/logo/logo.png" alt="" title="" /></img></a>-->
                <!-- Descomenta abajo si prefieres usar una imagen de texto -->

                <h1><a href="@Url.Action("Inicio", "Inicio")"><img id="logo-sbs" src="~/img/logo/SDS_01.png" alt="" title="" /></img></a></h1>
            </div>

            <div>
                <nav id="nav-menu-container" class="cl-effect-13">
                    <ul class="nav-menu">
                        <li id="inicio-menu"><a href="@Url.Action("Inicio", "Inicio")">Inicio</a></li>

                        <li id="servicios-menu"><a href="@Url.Action("NuestrosServicios", "NuestrosServicios")">Servicios</a></li>
                        <li id="portafolio-menu"><a href="@Url.Action("Portafolio", "Portafolio")">Portafolio</a></li>
                        <li id="testimonios-menu"><a href="@Url.Action("Testimonios", "Testimonios")">Testimonios</a></li>
                        <li id="equipo-menu"><a href="@Url.Action("Equipo", "Equipo")">Equipo</a></li>
                        <li id="contacto-menu"><a href="@Url.Action("Contacto", "Contacto")">Contacto</a></li>
                    </ul>
                    <!--<a href="#">Chatoyant</a>
                    <a href="#">Ineffable</a>
                    <a href="#">Efficiency</a>
                    <a href="#">Mellifluous</a>
                    <a href="#">Serendipity</a>-->
                </nav>
            </div>

            <!--
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="@Url.Action("Inicio", "Inicio")">Inicio</a></li>

                    <li><a href="@Url.Action("NuestrosServicios", "NuestrosServicios")">Servicios</a></li>
                    <li><a href="@Url.Action("Portafolio", "Portafolio")">Portafolio</a></li>
                    <li><a href="@Url.Action("Testimonios", "Testimonios")">Testimonios</a></li>
                    <li><a href="@Url.Action("Equipo", "Equipo")">Equipo</a></li>
                    <li><a href="@Url.Action("Contacto", "Contacto")">Contacto</a></li>
                </ul>
            </nav>-->
            <!-- #nav-menu-container -->
        </div>
    </header>
    <body>

        <div>
            @RenderBody()
            <hr />
            <footer id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                &copy; Copyright <strong>SDS Software Business Solutions</strong>. All Rights Reserved
                            </div>
                            @*<div class="credits">

                                    Templates by <a href="http://www.servitecflhuaraz.com/">SBS</a>
                                </div>*@
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        @*@Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)*@
    </body>
</html>

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="~/lib/superfish/hoverIntent.js"></script>
<script src="~/lib/superfish/superfish.min.js"></script>
<script src="~/lib/morphext/morphext.min.js"></script>
<script src="~/lib/wow/wow.min.js"></script>
<script src="~/lib/stickyjs/sticky.js"></script>
<script src="~/lib/easing/easing.js"></script>

<!-- Template Specisifc Custom Javascript File -->
<script src="~/js/custom.js"></script>

<script src="~/contactform/contactform.js"></script>
<script src="~/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TimelineMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/easing/EasePack.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/CSSPlugin.min.js"></script>